@charset "UTF-8";

#googleform{
    width: 100%;
    height: 100%;
}

#endmessage{
    padding-top: 5%;
    text-align: center;
    line-height: 1.5em;
    font-size: calc(16px + (8/1300) * 100vw);
}

#endmessage h2{
    font-size: calc(24px + (16/1300) * 100vw);
}

#content{
    min-height: 2167px;
    height: calc(-1.39 * 100vw + 3190px);
}